ikt/Zsiga Norbert/.vs
ikt/Zsiga Norbert/ChineseKreta.Database/bin
ikt/Zsiga Norbert/ChineseKreta.Database/obj
ikt/Zsiga Norbert/CustomLibrary/bin
ikt/Zsiga Norbert/CustomLibrary/obj
ikt/Zsiga Norbert/Feladat/bin
ikt/Zsiga Norbert/Feladat/obj
