ikt/Zsiga Norbert/.vs
ikt/Zsiga Norbert/ChineseKreta.Database/bin
ikt/Zsiga Norbert/ChineseKreta.Database/obj
ikt/Zsiga Norbert/CustomLibrary/bin
ikt/Zsiga Norbert/CustomLibrary/obj
ikt/Zsiga Norbert/Feladat/bin
ikt/Zsiga Norbert/Feladat/obj
104 - SampleAppForDI/SampleAppForDI/.vs
maui/00-base/.vs
maui/00-base/Solution.DesktopApp/bin
maui/00-base/Solution.DesktopApp/obj
maui/00-base/Solution.ValidationLibrary/bin
maui/00-base/Solution.ValidationLibrary/obj
maui/01-SimpleMovieApp/.vs
maui/00 - Base/.vs
maui/01 - SimpleMovieApp/.vs
