ikt/Zsiga Norbert/.vs
ikt/Zsiga Norbert/ChineseKreta.Database/bin
ikt/Zsiga Norbert/ChineseKreta.Database/obj
ikt/Zsiga Norbert/CustomLibrary/bin
ikt/Zsiga Norbert/CustomLibrary/obj
ikt/Zsiga Norbert/Feladat/bin
ikt/Zsiga Norbert/Feladat/obj
104 - SampleAppForDI/SampleAppForDI/.vs
maui/00-base/.vs
maui/00-base/Solution.DesktopApp/bin
maui/00-base/Solution.DesktopApp/obj
maui/00-base/Solution.ValidationLibrary/bin
maui/00-base/Solution.ValidationLibrary/obj
maui/01-SimpleMovieApp/.vs
maui/00 - Base/.vs
maui/01 - SimpleMovieApp/.vs
ikt/Zsiga Norbert student és subject összekötés nélkül/.vs
ikt/Zsiga Norbert student és subject összekötés nélkül/ChineseKreta.Database/bin
ikt/Zsiga Norbert student és subject összekötés nélkül/ChineseKreta.Database/obj
ikt/Zsiga Norbert student és subject összekötés nélkül/CustomLibrary/bin
ikt/Zsiga Norbert student és subject összekötés nélkül/CustomLibrary/obj
ikt/Zsiga Norbert student és subject összekötés nélkül/Feladat/bin
ikt/Zsiga Norbert student és subject összekötés nélkül/Feladat/obj
ikt/Zsiga Norbert/Kreta.Database/bin
ikt/Zsiga Norbert/Kreta.Database/obj
maui/02 - BookApp/.vs
maui/03 - UltraBalatonRun/.vs
maui/03 - UltraBalatonRun számítoptt mezők/.vs
maui/04 - Motorcycle/.vs
maui/04 - Motorcycles/.vs
